.dark-theme {
  background-image: url('../../dark-theme.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.light-theme {
  background-image: url('../../light-theme.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
}

#nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

@media (max-width: 425px) {
  #nav > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #nav > ul > li {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
}
