/* body {
  background-image: url('../../purple\ minimalist\ desktop\ wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.dark-theme {
  background-image: url('../../purple\ minimalist\ desktop\ wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.light-theme {
  background-image: url('../../light-theme.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
}

/* .theme-button {
  background-color: rgb(203, 230, 248);
  margin-left: 10px;
  margin-top: 10px;
} */

/* .theme-button .dark-theme {
  background-color: purple;
} */
/* 
.light-theme-div {
  background-color: #ffffff; /* Light theme background color */
/* color: #616161; Light theme text color */
/* } */

/* CSS for Dark Theme */
/* .dark-theme-div {
  background-color: #574482; /* Dark theme background color */
/* color: #ffffff; Dark theme text color */
/* } */
